<html>

  <head>
    <title>10gen internal corp site</title>
    {% block extrahead %}{% endblock %}
  </head>
  
  <body>
    <h4>10gen corp site</h4>
    <hr>
    <a href="newsletterSignups">Newsletter Signups</a> |
    <a href="dlEvents">Download Events</a> |
    <a href="dlDomains">Downloads by Domain</a> |
    <a href="csSignups">Commercial Support Signups</a> |
    <a href="contributors">Contributors</a> |
    <a href="orgchart">Org Chart</a> |
    <a href="codeReview">Code Review</a> |
    <a href="jirarep">Jira Reports</a> |
    <a href="buildBoard">Build Board</a> |
    <a href="pstats">Performance Stats</a>
    <hr>
    
    {% block content %}
    {% endblock %}

    <hr>
    <div style="text-align: center; font-size: .8em">
      10gen internal - logged in as <b>{{ user }}</b> - <a href="/logout">logout</a>
    </div>
    
    {% block extrabody %}{% endblock %}

  </body>
</html>
