<html>

  <head>
    <title>10gen internal corp site</title>
  </head>
  
  <body>
    <h4>10gen corp site</h4>
    <hr>
    <a href="dlDomains">Downloads by Domain</a> | 
    <a href="csSignups">Commercial Support Signups</a> |
    <a href="contributors">Contributors</a>
    <hr>
    
    {% block content %}
    {% endblock %}

    <hr>
    <div style="text-align: center;font-size:.8em; width:100%; ">
      10gen internal 
      -
      logged in as <b>{{ user }} 
      - 
      <a href="/logout">logout</a>
    </div>
    

  </body>
</html>
  
