
{% extends "base.html" %}
{% block extrahead %}
<script src="/static/js/jquery-1.4.0.min.js"></script>
<script src="/static/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function()
    {
        $("#contributors").tablesorter();
    }
);

</script>

{% endblock %}
{% block content %}

<table id="contributors">

  <tr>
    <th>Name</th>
    <th>github_username</th>
    <th>company_name</th>
    <th>email</th>
    <th>signed</th>
    <th>address</th>
    <th>phone #</th>
  </tr>

  {% for c in contributors %}
  <tr>
    <td>{% if c.full_name %}{{ c.full_name }}{% else %}{{ c.first_name }} {{ c.last_name }}{% endif %}</td>
    <td>{{ c.github_username }}</td>
    <td>{{ c.company_name }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.signed }}</td>
    <td>{{ c.address }}</td>
    <td>{{ c.phone_number }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
