{% extends "base.html" %}

{% block extrahead %}
<script src="/static/jquery-1.4.0.min.js"></script>
<script src="/static/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/tablesortertheme/style.css">
{% endblock %}


{% block content %}
    
<h3>Download Events</h3>

<table id="dltable" class="tablesorter">
<thead>
  <tr>
    <th>time</th>
    <th>download</th>
    <th>email</th>
    <th>nprompts</th>
    <th>ip</th>
    <th>ipinfo</th>
    <th>useragent</th>
  </tr>
</thead>
<tbody>
  {% for e in events %}
  <tr>
    <td>{{ e.time }}</td>
    <td>{{ e.download }}</td>
    <td>{{ sessions[e.sessionid].email }}</td>
    <td>{{ sessions[e.sessionid].nprompts }}</td>
    <td>{{ sessions[e.sessionid].ip }}</td>
    <td>{{ ipinfo[e.sessionid].ipinfo }}</td>
    <td>{{ sessions[e.sessionid].useragent }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

{% block extrabody %}
<script type="text/javascript">
    $(document).ready(function() {
      $("#dltable").tablesorter();
    });
</script>
{% endblock %}
