{% extends "base.html" %}

{% block extrahead %}
<script src="/static/jquery-1.4.0.min.js"></script>
<script src="/static/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/tablesortertheme/style.css">
{% endblock %}


{% block content %}
    
<h3>Newsletter Signups</h3>

<table id="dltable" class="tablesorter">
<thead>
  <tr>
    <th>n</th>
    <th>time</th>
    <th>time last visited</th>
    <th>context</th>
    <th>email</th>
    <th>nprompts</th>
    <th>npageviews</th>
    <th>ip</th>
    <th>ipinfo</th>
    <th>useragent</th>
  </tr>
</thead>
<tbody>
  {% for n in newsletter_signups %}
  {% set s = sessions.find_one(e.sessionid) or {} %}
  {% set s = s.get('data', {}) %}
  {% set i = ipinfo.find_one(s.ip) or {} if s.ip else {} %}
  {% set i = i.get('ipinfo', 'not yet available') %}
  <tr>
    <td>{{ nsignups - loop.index + 1 }}</td>
    <td>{{ n.time }}</td>
    <td>{{ s.timelastvisit }}</td>
    <td>{{ n.context }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.nprompts }}</td>
    <td>{{ s.npageviews }}</td>
    <td>{{ s.ip }}</td>
    <td><pre>{{ i | pprint }}</pre></td>
    <td>{{ s.useragent }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

{% block extrabody %}
<script type="text/javascript">
    $(document).ready(function() {
      $("#dltable").tablesorter();
    });
</script>
{% endblock %}
