{% extends "base.html" %}

{% block extrahead %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);
 
      function nospace(x){
        return x.replace( / /g , "&nbsp;" );
      }

      function person( name , title , boss ) {
          var x = name;
          if ( title )
             x = { v : name , f : nospace(name) + " - " + title };
          return [ x , boss , '' ]
      }
 
      function list() {
         var h ="<br><small>"
         for ( var i=0; i < arguments.length; i++ ) {
            h += nospace(arguments[i]) + "<br>"                          
         }
         h += "</small>"
         return h;
      }
 
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        data.addRows([
          person( "Dwight" , "CEO" , "" ) ,
          person( "Max" , "President" , "Dwight" ) ,
     
          // tech
          person( "Eliot" , "CTO" , "Max" ) ,
     
          //person( "Vishy" , "VP Eng" , "Eliot" ) ,

          person( "Paul" , "Deputy CTO" , "Eliot" ) ,    
 
          person( "Dan P." , "Eng Mgr" , "Eliot" ) ,
          person( "Core Server Eng." , list("Kristina","Mathias","Greg","Kyle","Spencer","Brandon","Scott","Chris","Antoine","Aaron","Richard","Eric","Tad","Kevin M.","Andrew S.")  , "Dan P." ) ,
          person( "Build Eng" , list("Dan C.") , "Dan P." ) ,
 
          person( "Steve" , "Chief Evangelist" , "Eliot" ) ,
          person( "Drivers/Integration" , list("Brendan(JVM)","Bernie(Python)","Sridhar(.NET)","Robert(.NET)","Christian(node.js)","Jesse(Python)","Derick(PHP)","Ross(Python)(12/8)") , "Steve" ) ,
          person( "Docs" , list("Sam") , "Steve" ) ,
          person( "WWW/Corp" , list( "Ben", "Mike O." ) , "Steve" ) ,

          person( "Bill" , "Global Support" , "Eliot" ) ,
          person( "NY" , list( "Marc" , "Barrie" , "Tyler" ) , "Bill" ) ,
          person( "Ireland" , list( "Adam"  ) , "Bill" ) ,

          person( "Tech OPs" , list("Sabina","Ian","Jackie") , "Eliot" ) ,
 
          person( "Edouard" , "Americas SA (March 2012)" , "Eliot" ) ,
          person( "West Coast" , list("Kevin H.") , "Edouard" ) ,
 
          person( "Alvin" , "EMEA SA" , "Eliot" ) ,
          person( "Europe SA", list ("Daniel", "Chris"), "Alvin") ,

          person( "Jeff" , "MMS" , "Eliot" ) ,
 
          person( "Ryan", "Cloud" , "Eliot" ) ,

          person( "Devops", list( "Michael F." ) , "Eliot" ) ,

          person( "College 2012" , list("Siddharth(Jan)","Randolph(Jan)","Matt S.(Jan)(CA)","Randall Hunt(June)","Sam Helman(July)","Shaun Verch(June)") , "Eliot" ) ,
          person( "Interns 2012" , list("Amalia","Kaushal","Samantha Ritter","Leonardo","Gabriel") , "College 2012" ) ,


 
          // sales
          person( "Ben" , "VP Sales" , "Max" ) ,
          person( "West-Sales" , list("Anthony","Jarek","Ali" , "Margaret") , "Ben" ) ,
          person( "East-Sales" , list("Jeff","Matt", "Valerie","Sarah","Will(starts nov.)") , "Ben" ) ,
          person("Brendan C", "Channel sales", "Ben"),
 
          // marketing
          person( "Erik" , "VP Marketing/Aliances" , "Max" ) ,
          person ("Jared", "Director Product Marketing", "Erik") ,
          person ("Nosh", "Director Alliances", "Erik") ,
          person ("Meghan", "Manager Community Marketing", "Erik") ,
          person ("Paz", "Director European Marketing", "Erik") ,
          person ("Amelia", "Marketing Manager", "Erik"),
          person ("Product Marketing", list ("Adam", "Soumen"), "Jared") ,
          person ("Community Marketing" , list("Melia", "Samantha", "Meg", "Francesca" ) , "Meghan" ) ,
          person ("Scot", "Marketing Ops", "Erik") ,
 
          // ops
          person( "Lily" , "VP Finance" , "Max" ) ,
          person( "Finance/Ops" , list("Kristina", "Julia", "Elyse") , "Lily" ) ,
          person( "HR" , list( "Kirsten" ) , "Lily" ) ,

          // eu ???
          person( "Gerry" , "Director European Sales" , "Max" ) ,
          person( "Renaud" , "Telesales Rep" , "Gerry" ) ,
 
          // recruiting
          person ("Recruiting", list ("Stacy", "Craig", "Adrienne", "Jennifer(part time temp)") , "Max") ,
        ]);
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        chart.draw(data, {allowHtml:true});
      }
</script>
{% endblock %}

{% block content %}
<div id='chart_div'></div>
{% endblock %}
