{% extends "base.html" %}

{% block extrahead %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);
 
      function nospace(x){
        return x.replace( / /g , "&nbsp;" );
      }

      function person( name , title , boss ) {
          var x = name;
          if ( title )
             x = { v : name , f : nospace(name) + " - " + title };
          return [ x , boss , '' ]
      }
 
      function list() {
         var h ="<br><small>"
         for ( var i=0; i < arguments.length; i++ ) {
            h += nospace(arguments[i]) + "<br>"                          
         }
         h += "</small>"
         return h;
      }
 
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        data.addRows([
          person( "Dwight" , "CEO" , "" ) ,
          person( "Max" , "President" , "Dwight" ) ,
     
          // tech
          person( "Eliot" , "CTO" , "Max" ) ,
     
          //person( "Vishy" , "VP Eng" , "Eliot" ) ,

          person( "Paul" , "Deputy CTO" , "Eliot" ) ,    
          
 
          person( "Dan P." , "Eng Mgr" , "Eliot" ) ,
          person( "Core Server Eng." , list("Kristina","Mathias","Greg","Spencer","Scott","Aaron","Eric","Tad","Kevin M.","Andrew S.","Ben Becker","Siddharth","Randolph","Alberto")  , "Dan P." ) ,
          person( "Build Eng" , list("Dan C.") , "Dan P." ) ,
 
          person( "Steve" , "Chief Evangelist" , "Eliot" ) ,
          person( "Drivers/Integration" , list("Brendan(JVM)","Bernie(Python)","Sridhar(.NET)","Robert(.NET)","Christian(node.js)","Jesse(Python)","Derick(PHP)","Ross(Python)", "Mike O.", "Tyler(Ruby)" , "Bryan(Java)" , "Aaron H(node.js)" , "Gary(Ruby)" , "Craig(.NET)", "Hannes(PHP)", "Jeremy M(PHP)" , "Emily(Ruby)" ),  "Steve" ) ,
          person( "Docs" , list("Sam", "Andrew") , "Steve" ) ,
          person( "Web" , list("Emilie") , "Steve" ) ,

          person( "Bill" , "Global Support" , "Eliot" ) ,
          person( "NYC" , list( "Barrie" , "Jenna" ) , "Bill" ) ,
          person( "CA" , list("William") , "Bill" ) ,
          person( "Ireland" , list( "Adam" , "Gregor", "Mark" ) , "Bill" ) ,
          person( "Australia" , list("Ian", "Stephen") , "Bill" ) ,

          person( "Tech OPs" , list("Ian","Jackie" , "Rhea" ) , "Eliot" ) ,
 
          person( "Edouard" , "Americas SA" , "Eliot" ) ,
          person( "West Coast" , list("Kevin H.","Antoine","Asya" ) , "Edouard" ) ,
          person( "East Coast" , list("Chad T" ) , "Edouard" ) ,
          person( "CE" , list("Richard", "Chad C" ) , "Edouard" ) ,
 
          person( "Alvin" , "Director EMEA" , "Eliot" ) ,
          person( "Europe SA", list ("Daniel", "Chris", "Marc"), "Alvin") ,

          person( "Jeff" , "Cloud" , "Eliot" ) ,
          person( "Cloud" , list( "Dan G." , "Matt S." , "Vladimir", "Steve B" ) , "Jeff" ) ,
 
          person( "Ryan", "Cloud" , "Eliot" ) ,

          person( "Devops", list( "Michael F." ) , "Eliot" ) ,

          person( "College 2012" , list("Randall Hunt(June)","Sam Helman(Aug)","Shaun Verch(Aug)","Jason Rassi(Sep)","Andrew Emil(Aug)", "Louisa Berger(Aug)") , "Eliot" ) ,
          person( "NY Interns 2012" , list("Amaila Hawkins","Kaushal Parikh","Samantha Ritter","Leonardo Stedile","Adam Midvidy","Zhehao Mao","Shraya Ramani","Matt Dannenburg","Adinoyi Omuya","Jacopo Cesareo","Aayush Upadhyay","Andrei Nagornyi","Siyuan Zhou", "Philip Quiza") , "College 2012" ) ,
          person( "CA Interns 2012" , list("Jacob Frantz","Annie Chin","Akshay Nathan", "Dylan Rhodes", "Laine Herron","Philip Cohen") , "College 2012" ) ,

 
          // sales
          person( "Ben" , "VP Sales" , "Max" ) ,
          person( "West-Sales" , list("Anthony","Steven","Ali" , "Margaret", "Victoria", "Laurie", "Mehdi", "Chad C", "Katie", "David") , "Ben" ) ,
          person( "East-Sales" , list("Jeff","Matt", "Sarah","Will" , "Tushar", "Tony") , "Ben" ) ,
          person( "Federal-Sales" , list("Will","Chris") , "Ben" ) ,
          person( "LATAM-Sales" , list("Marcello") , "Ben" ) ,
          person("Brendan C", "Channel sales", "Ben"),
          person("Sabina", "Dir Sales Ops", "Ben"), 
 
          // marketing
          person( "Erik" , "VP Marketing/Aliances" , "Max" ) ,
          person( "Andrew" , "VP Online Education" , "Max" ) ,
          person ("Jared", "Director Product Marketing", "Erik") ,
          person ("Meghan", "Manager Community Marketing", "Erik") ,
          person ("Paz", "Director European Marketing", "Erik") ,
          person ("Field Marketing", "Samantha", "Paz") ,
          person ("Community Marketing" , list("Melia", "Meg", "Francesca", "Katie", "Justin" , "James") , "Meghan" ) ,
          person ("Product Marketing", "Sandeep", "Jared" ),
          person ("Scot", "Marketing Ops", "Erik") ,
          person ("Adam", "APAJ", "Erik") ,
 
          // ops
          person( "Lily" , "VP Finance" , "Max" ) ,
          person( "Martin", "VP HR, Training, Recruiting", "Max") ,
          person( "Ops" , list("Julia", "Jennifer", "Esther", "Allyson", "Isabelle") , "Lily" ) ,
          person( "HR" , list( "Kirsten" ) , "Martin" ) ,
          person( "Fin/Acctg" , list( "Caitlin" ) , "Lily" ) ,

          // eu ???
          person( "Gerry" , "Director European Sales" , "Max" ) ,
          person( "Europe Sales", list ("Renaud", "Allan", "Tim", "Bill B", "Matthew" ) , "Gerry") ,
 
          // recruiting
          person ( "Martin", "VP HR, Training, Recruiting", "Max")  ,
          person ( "Rockman", "Dir Talent Acquisition" , "Martin")  ,
          person ( "Recruiting", list ("Stacy", "Craig", "Thameka", "Brandon") , "Rockman" ) ,
        ]);
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        chart.draw(data, {allowHtml:true});
      }
</script>
{% endblock %}

{% block content %}
<div id='chart_div'></div>
{% endblock %}
