{% extends "employees/layouts/application.html" %}

{% block js %}
{% endblock %}


{% block styles %}
	<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
{% endblock %}


{% block content %}

<h1>Rate skills for <a href="/employees/{{ pp['employee']['jira_uname'] }}">{{ pp['employee']['first_name'] }} {{ pp['employee']['last_name']}}</a></h1>

<br/>
<br/>

<form action="" method="post" class="form-horizontal">
<input type="hidden" name="jira_uname" value="{{ pp['employee']['jira_uname'] }}" >

<div class="row show-grid">
	<div class="span6">
		<fieldset>
			{% for skill_id in pp['employee']['skills'] %}
			<div class="control-group">
				<label class="control-label">{{ pp['skills'][skill_id]['name'] }}</label>
				{% if pp['skills'][skill_id]['locked'] %}
					{% if pp['can_rate'] %}
						<div class="controls">
							<select name="{{ skill_id }}" class="input-xlarge" value = "{{ skill_id }}" id="rating">
								{% for i in [0,1,2,3,4,5] %}
									<option {% if i == pp['employee']['skills'][skill_id] %} SELECTED {% endif %} value={{i}}>{{pp['levels'][i]}}</option>
								{% endfor %}
							</select>
						</div><!-- controls-->
					{% else %}
						<div class="controls">{{ pp['levels'][pp['employee']['skills'][skill_id]] }}
						</div><!-- controls-->
					{% endif %}
				{% else %}
					<div class="controls">
						<select name="{{ skill_id }}" class="input-xlarge" value = "{{ skill_id }}" id="rating">
							{% for i in [0,1,2,3,4,5] %}
								<option {% if i == pp['employee']['skills'][skill_id] %} SELECTED {% endif %} value={{i}}>{{pp['levels'][i]}}</option>
							{% endfor %}
						</select>
					</div><!-- controls-->
				{% endif %}
			</div><!-- control-group-->
			{% endfor %}
		</fieldset>
	</div><!-- span6 -->

</div>
<br/>
<input type="submit" class ="btn btn-primary" style="float:right;">
</form>

{% endblock %}