{% extends "employees/layouts/application.html" %}

{% block content %}

<header class="page-header">
	<div class="employee-header-info">
		<h1>
			<span class="name">{{ pp['employee']['first_name'] }} {{ pp['employee']['last_name'] }}</span>
			<span class="description">{{ pp['employee']['title'] }}</span></h1>	
			<h3>{{ ", ".join(pp['teams']) }} - {{ pp['employee']['office'] if pp['employee']['office'] }}</h3>
	</div>	
	<div class="employee-image">
		<img src="/profileimage/{{ pp['employee']['jira_uname'] }}" onerror="ImgError(this, '{{pp["gravatar_hash"]}}');">
	</div><!-- /.employee-image -->	
	{% if pp['can_edit'] %}
	<div class="edit"><a href="/employees/{{ pp['employee']['jira_uname'] }}/edit" style="display:inline-block;">(Edit)</a>
	<a href="/employees/{{ pp['employee']['jira_uname'] }}/rateskills" style="display:inline-block;">(Rate Skills)</a>
	{% if pp['current_user_role'] == "admin" %}
		<form enctype="multipart/form-data" action="/employees/{{ pp['employee']['jira_uname'] }}/delete" method="post" style="display:inline-block;" id="delete_employee"><a id="delete" href="#" onclick="javascript:confirmDelete()">(Delete)</a></form>
	{% endif %}
	</div>
	{% endif %}
	
	<div class="edit"><a href="/employees/{{ pp['employee']['jira_uname'] }}.vcf" style="display:inline-block;">get vcard</a>
	</div>
	
</header>


    {% if pp['employee']['employee_status'] == "Former" %}
    <dl class="dl-horizontal">
        <dt>Employee Status</dt><dd>
            {{ pp['employee']['employee_status']}}
        </dd>
    </dl>
    {% endif %}

    {% if pp['top_tech_skills'].__len__() > 0 %}
    <dl class="dl-horizontal">
        <dt>Top Tech Skills</dt>
        <dd>{% for skill in pp['top_tech_skills'] %}
            <a href="/skills/{{skill._id}}">{{skill.name}}&nbsp;|&nbsp;</a>
        {% endfor %}</dd>
    </dl>
    {% endif %}

	<dl class="dl-horizontal">
        <dt>Managers</dt>
        <dd>{% for manager in pp['managers'] %}
            <a href='/employees/{{manager.jira_uname}}'>{{ manager.first_name }} {{ manager.last_name }}</a>
            {% endfor %}</dd>
        </dl>
        
    <dl class="dl-horizontal">
		<dt>Org structure</dt>
        <dd>{% for manager_hierarchy in pp['manager_hierarchies'] %}
			<p>{% for manager in manager_hierarchy %}
				<a href='/employees/{{manager.jira_uname}}'>{{ manager.first_name }} {{ manager.last_name }}</a>{% if manager_hierarchy.index(manager) != manager_hierarchy.__len__() - 1 %} > {% endif %}
				{% endfor %}</p>
        {% endfor %}</dd>
    </dl>

    <dl class="dl-horizontal">

		{% for n in pp['display_keys'] %}
			{% if pp['employee'][n] %}
				<dt>{{ ' '.join(n.replace("jira_uname", "jira_username").split('_')).capitalize() }}</dt>
				{% if (n == "birthday") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%m/%d") }}</dd>
				{% elif (n == "start_date") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%m/%d/%Y") }}</dd>
                {% elif n == "github" %}
                    {% if pp['employee'][n][0:4] == "http" %}
                        <dd><a href='{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% else %}
                        <dd><a href='//github.com/{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% endif %}
                {% elif n == "twitter" %}
                    {% if (pp['employee'][n][0:4] == "http") or (pp['employee'][n][0:7] == "twitter") %}
                        <dd><a href='{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% else %}
                        <dd><a href='//twitter.com/{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% endif %}
                {% elif n == "jira_uname" %}
                    <dd><a href='//jira.mongodb.org/secure/ViewProfile.jspa?name={{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                {% elif n == "email" %}
                    <dd><a href='mailto:{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
				{% elif pp['employee'][n] %}
					<dd>{{ pp['employee'][n] }}</dd>
				{% else %}
					<dd>&nbsp;</dd>
				{% endif %}
			{% endif %}
		{% endfor %}



	<div id="more_info" style="display:none;">

		{% for n in pp['employee'].keys() %}
			{% if n not in pp['display_keys'] and pp['employee'][n] and n not in pp['no_show'] %}
				<dt>{{ ' '.join(n.split('_')).capitalize() }}</dt>
				{% if (n == "birthday") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%m/%d") }}</dd>
				{% elif (n == "start_date") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%m/%d/%Y") }}</dd>
                {% elif n == "stackoverflow_id" %}
                    {% if pp['employee'][n][0:4] == "http" %}
                        <dd><a href='{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% else %}
                        <dd><a href='stackoverflow.com/users/{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                    {% endif %}
                {% elif n == "skype_id" %}
                    <dd><a href='skype:{{pp['employee'][n]}}'>{{pp['employee'][n]}}</a></dd>
                {% elif pp['employee'][n] %}
					<dd>{{ pp['employee'][n] }}</dd>
				{% else %}
					<dd>&nbsp;</dd>
				{% endif %}
			{% endif %}
		{% endfor %}
        
	</div>
        
</dl>

    <div id="skills" style="display:none;">
        {% if pp['employee']['skills'].__len__() > 0 %}
            {% for skillgroup in pp['skills'] %}
                <dl class="dl-horizontal">
                    <dt class>{{skillgroup.title()}} Skills</dt>
                    <dd>{% for skill in pp['skills'][skillgroup] %}
                        <p><a href="/skills/{{skill[0]._id}}">{{skill[0].name}}</a>{% for i in range(skill[1]) %} {{ "*"}} {% endfor %}</p>
                        {% endfor %}</dd>
                </dl>
            {% endfor %}
        {% endif %}
    </div>




	


<button class="btn" onclick="Expand();" style="float:right;margin: 7px 0px 0px 0px;">+</button>
<button class="btn" onclick="Expand();" style="display:none;float:right;margin: 7px 0px 0px 0px;">-</button>

<div style="clear: both;"</div>
{% if pp['employee']['bio'] %}
<dl style="margin-top:20px;border:none;text-align:justify;">{{ pp['employee']['bio'] }}</dl>
{% endif %}

<div id="dus"></div>

	<script type="text/javascript" charset="utf-8">
		function Expand(){
			$("#more_info").slideToggle();
            $("#skills").slideToggle();
			$(".btn").toggle();
	    	return true;
		}
		
		$(document).ready(function() {
			$.post('http://du.10gen.com/latest', {clientId: "{{pp['client_id']}}", email: "{{pp['employee']['jira_uname']}}", hash: "{{pp['hmac']}}"}, 
				function(data) {
					$('#dus').html(data);				
				}
			);
			
		});
		function confirmDelete() {
			console.log($("#delete_employee"));
		  if (confirm("Are you sure you want to delete this employee?")) {
		    $("#delete_employee").submit();
		  }
		}
	</script>

{% endblock %}






		
	


