{% extends "employees/layouts/application.html" %}

{% block content %}

<header class="page-header">
	<div class="employee-header-info">
		<h1>
			<span class="name">{{ pp['employee']['first_name'] }} {{ pp['employee']['last_name'] }}</span>
			<span class="description">{{ pp['employee']['title'] }}</span></h1>	
			<h3>{{ ", ".join(pp['teams']) }} - {{ pp['employee']['office'] if pp['employee']['office'] }}</h3>
	</div>	
	<div class="employee-image">
		<img src="/profileimage/{{ pp['employee']['jira_uname'] }}" onerror="ImgError(this, '{{pp["gravatar_hash"]}}');">
	</div><!-- /.employee-image -->	
	{% if pp['can_edit'] %}
	<div class="edit"><a href="/employees/{{ pp['employee']['jira_uname'] }}/edit" style="display:inline-block;">(Edit)</a>
	<a href="/employees/{{ pp['employee']['jira_uname'] }}/rateskills" style="display:inline-block;">(Rate Skills)</a></div>
	{% endif %}
	<div class="edit"><a href="/employees/{{ pp['employee']['jira_uname'] }}.vcf" style="display:inline-block;">get vcard</a></div>
</header>

	{% if pp['employee']['skills'].__len__() > 0 %}
	<dl class="dl-horizontal">
		<dt>Skills</dt><dd>
	 		{% for skill in pp['employee']['skills'] %}
				<p><a href="/skills/{{pp['skills'][skill]['_id'] }}">{{ pp['skills'][skill]['name'] }}</a> {% for i in range(pp['employee']['skills'][skill]) %} {{ "*"}} {% endfor %}</p>
			{% endfor %}
			</dd>
	</dl>
	{% endif %}
	<dl class="dl-horizontal" style="border-top:none;">
		
		<dt>Org structure</dt>
		{% if pp['manager_hierarchy'].__len__() > 0 %}
			<dd>{% for manager in pp['manager_hierarchy'] %}
				<a href='/employees/{{manager.jira_uname}}'>{{ manager.first_name }} {{ manager.last_name }}</a>{% if pp['manager_hierarchy'].index(manager) != pp['manager_hierarchy'].__len__() - 1 %} > {% endif %}
				{% endfor %}</dd>
		{% else %}
			<dd>&nbsp;</dd>
		{% endif %}

		{% for n in pp['display_keys'] %}
			{% if pp['employee'][n] %}
				<dt>{{ ' '.join(n.split('_')).capitalize() }}</dt>
				{% if (n == "start_date" or n == "birthday") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%d-%m-%Y") }}</dd>
				{% elif pp['employee'][n] %}
					<dd>{{ pp['employee'][n] }}</dd>
				{% else %}
					<dd>&nbsp;</dd>
				{% endif %}
			{% endif %}
		{% endfor %}



	<div id="more_info" style="display:none;">

		{% for n in pp['employee'].keys() %}
			{% if n not in pp['display_keys'] and pp['employee'][n] and n not in pp['no_show'] %}
				<dt>{{ ' '.join(n.split('_')).capitalize() }}</dt>
				{% if (n == "start_date" or n == "birthday") and  pp['employee'][n] %}
					<dd>{{ pp['employee'][n].strftime("%d-%m-%Y") }}</dd>
				{% elif pp['employee'][n] %}
					<dd>{{ pp['employee'][n] }}</dd>
				{% else %}
					<dd>&nbsp;</dd>
				{% endif %}
			{% endif %}
		{% endfor %}
		
	</div>	
	
</dl>

<button class="btn" onclick="Expand();" style="float:right;margin: 7px 0px 0px 0px;">+</button>
<button class="btn" onclick="Expand();" style="display:none;float:right;margin: 7px 0px 0px 0px;">-</button>

<div id="dus"></div>

	<script type="text/javascript" charset="utf-8">
		function Expand(){
			$("#more_info").slideToggle();
			$(".btn").toggle();
	    	return true;
		}
		
		$(document).ready(function() {
			$.post('http://du.10gen.com/latest', {clientId: "{{pp['client_id']}}", email: "{{pp['employee']['jira_uname']}}", hash: "{{pp['hmac']}}"}, 
				function(data) {
					$('#dus').html(data);				
				}
			);
			
		});
	</script>

{% endblock %}






		
	


