{% extends "employees/layouts/application.html" %}

{% block js %}
<script type="text/javascript" src="/static/employees/js/select2.js"></script>
<script type="text/javascript" src="/static/employees/js/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}


{% block styles %}
	<link rel="stylesheet" type="text/css" href="/static/employees/css/select2.css" />
	<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/employees/css/ui-lightness/jquery-ui-1.8.21.custom.css" />
	<link rel="stylesheet" type="text/css" href="/static/employees/css/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}


{% block content %}

<h1>Editing team <a href="/teams/{{ pp['team']['_id'] }}">{{ pp['team']['name']}}</a></h1>

{% if pp['error_message'] %}
	<br/>
	<h3 style="color:red;">{{ pp['error_message'] }}</h3>
{% endif %}

<form action="" method="post" class="form-horizontal">
<input type="hidden" name="id" value="{{ pp['team']['_id'] }}" >

<div class="row show-grid">
	<div class="span6">
		
		<br/>
		<br/>
		
		<fieldset>
			
			<div class="control-group">
				<label class="control-label">Name</label>
					<div class="controls">
						<input type="text" class="input-xlarge" name="name" value="{{ pp['team']['name'] }}" id="name">
					</div><!-- controls-->
			</div><!-- control-group-->
            
			<div class="control-group">
				<label class="control-label">Team Leads</label>
                <div class="controls">
                    <select multiple="multiple" class="input-xlarge" data-placeholder="Select team leads..." name="team_lead_ids" id="team_lead_ids">
						{% for employee in pp['employees'] %}
                        <option value="{{ employee['_id'] }}" {% if employee['_id'] in pp['team']['team_lead_ids'] %} SELECTED {% endif %} >
                            {{ employee.first_name }} {{ employee.last_name }}</option>
						{% endfor %}
                    </select>
                </div><!-- controls -->
			</div><!-- control-group -->
            
            <div class="control-group">
				<label class="control-label">Project Managers</label>
                <div class="controls">
                    <select multiple="multiple" class="input-xlarge" data-placeholder="Select project managers..." name="project_manager_ids" id="project_manager_ids">
						{% for employee2 in pp['employees2'] %}
                        <option value="{{ employee2['_id'] }}" {% if employee2['_id'] in pp['team']['project_manager_ids'] %} SELECTED {% endif %} >
                            {{ employee2.first_name }} {{ employee2.last_name }}</option>
						{% endfor %}
                    </select>
                </div><!-- controls -->
			</div><!-- control-group -->
			
			<div class="control-group">
				<label class="control-label">Managing</label>
					<div class="controls">
						<select multiple="multiple" class="input-xlarge" data-placeholder="Select teams that {{pp['team']['name']}} is managing..." name="managing_team_ids" id="managing_team_ids">
						{% for team in pp['teams'] %}
							<option value="{{ team['_id'] }}" {% if team['_id'] in pp['team']['managing_team_ids'] %} SELECTED {% endif %} >
								{{ team.name }}</option>
						{% endfor %}
						</select>
					</div><!-- controls -->
			</div><!-- control-group -->

		
	</fieldset>
</div><!-- span6 -->

</div>
<br/>
<input type="submit" class ="btn btn-primary" style="float:right;">
</form>

<script type="text/javascript" charset="utf-8">
	jQuery(function($){
		$('#managing_team_ids').select2();
        $('#team_lead_ids').select2();
        $('#project_manager_ids').select2();
    });


</script>

{% endblock %}