{% extends "employees/layouts/application.html" %}

{% block js %}
<script type="text/javascript" src="/static/employees/js/select2.js"></script>
<script type="text/javascript" src="/static/employees/js/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/employees/css/select2.css" />
	<link rel="stylesheet" type="text/css" href="/static/employees/css/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block content %}


<form action="" method="post" class="form-horizontal" style="margin: 70px 10px 10px 10px;">
	<fieldset>
		<div class="control-group">
			<div class="controls">
				<select name="search" data-placeholder="Search by team name..." class="chzn-select-deselect" id="search" style="width:80%;">
					<option></option>
					{% for team in pp['teams'] %}
						<option value="{{ team['_id'] }}">{{ team['name'] }}</option>
					{% endfor %}
				</select><input type="submit" value="Go" class ="btn btn-primary" style="margin: 0 0 0 10px">			
			</div><!-- controls -->
		</div><!-- control-group -->
	</fieldset>
	
</form>

{% if "admin" in pp['current_user_roles'] %}
<!-- IF USER IS ADMIN --> 
<div style="float:right;">
<a class="btn" href="/teams/new" id="new_team">+ new team</a>
</div>
{% endif %}

<script type="text/javascript" charset="utf-8">
	jQuery(function($){
    	$('#search').select2();
		$("a#new_team").fancybox();
  });
</script>

{% endblock %}