{% extends "employees/layouts/application.html" %}

{% block content %}

<header class="page-header">
	<div class="team-header-info">
		<h1><span class="name">{{ pp['team']['name'] }}</span></h1>
		{% if pp['current_user_role'] == "admin" %}<div class="team-edit"><a href="/teams/{{ pp['team']['_id'] }}/edit">(Edit)</a>&nbsp;<form enctype="multipart/form-data" action="/teams/{{ pp['team']['_id'] }}/delete" method="post" style="display:inline-block;"><a id="delete" href="#" onclick="parentNode.submit()">(Delete)</a></form></div>{% endif %}
	</div>	
</header>

<dl class="dl-horizontal">
    <dt>Team Leads</dt>
    {% for lead in pp['team_leads'] %}
    <dd><a href="/employees/{{ lead['jira_uname']}}">{{ lead['first_name']}} {{ lead['last_name']}}</a></dd>
    {% endfor %}
	
</dl>
<br/>

<dl class="dl-horizontal">
    <dt>Project Managers</dt>
    {% for manager in pp['project_managers'] %}
    <dd><a href="/employees/{{ manager['jira_uname']}}">{{ manager['first_name']}} {{ manager['last_name']}}</a></dd>
    {% endfor %}
	
</dl>
<br/>

    <dl class="dl-horizontal">
		<dt>Members</dt>
		{% for member in pp['team_members'] %}
			<dd><a href="/employees/{{ member['jira_uname']}}">{{ member['first_name']}} {{ member['last_name']}}</a></dd>
		{% endfor %}
	
	</dl>
	<br/>
	<dl class="dl-horizontal">
		<dt>Managed by</dt>
		{% for managed_teams in pp['managed_teams'] %}
			<dd><a href="/teams/{{ managed_teams['_id']}}">{{ managed_teams['name']}}</a></dd>
		{% endfor %}
	
	</dl>
	<br/>
	
	<dl class="dl-horizontal">
		<dt>Managing</dt>
		{% for managing_team in pp['managing_teams'] %}
			<dd><a href="/teams/{{ managing_team['_id']}}">{{ managing_team['name']}}</a></dd>
		{% endfor %}
	
	</dl>

{% endblock %}






		
	


