{% extends "employees/layouts/application.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">

<header class="page-header" style="height:120px;">
	<div class="team-header-info">
		<h1>Skill Group: <span class="name">{{ pp['skill_group']['name'] }}</span></h1>
		<div class="team-edit"><a href="/skillgroups/{{ pp['skill_group']['_id'] }}/edit">(Edit)</a>
	</div>	
</header>

	<dl class="dl-horizontal">
		<dt>Skills</dt>
		{% for skill in pp['skills'] %}
			<dd><a href="/skills/{{ skill['_id']}}">{{ skill['name']}}</a></dd>
		{% endfor %}
	
	</dl>

{% endblock %}






		
	


