MAILTO=noc@10gen.com

# Download analytics
0    9  * * 1          /bin/bash        /jira/corp/analytics/run.csh                > /tmp/ann1
0    11 1 * *          /bin/bash        /jira/corp/analytics/run.csh                > /tmp/ann2

# JIRA CS Alerts
33   13 * * *          /jira/corp/scriptrunner -- /usr/bin/python /jira/corp/support/jiraalert.py digest      > /tmp/jiraalertdigest
0    *  * * *          /jira/corp/scriptrunner -- /usr/bin/python /jira/corp/support/jiraalert.py             > /tmp/jiraalert

# FREE collectors
*/2  *  * * *          /jira/corp/scriptrunner -- /usr/bin/python /jira/corp/support/google_group_to_jira.py  > /tmp/gg
*/5  *  * * *          /jira/corp/scriptrunner -- /usr/bin/python /jira/corp/support/stackoverflow_to_jira.py > /tmp/stackoverflow

# Shut down old/abandoned instances in aws-test EC2 account
0    8  * * 1          /usr/bin/python /jira/ops/ec2/aws-test/weekly-instance-shutdown.py

# Update pstats database with git hash information (for corp webapp)
*/30 *  * * *          /jira/corp/scriptrunner -- /usr/bin/python /jira/corp/support/pstats_git_hash_grabber.py > /tmp/corp-pstats

# Scout alerts
0    *  * * *          /usr/bin/ruby    /home/ubuntu/scoutalerts.rb 2>&1

