{% extends "employees/layouts/application.html" %}

{% block content %}

<header class="page-header" style="height:120px;">
	<div class="team-header-info">
		<h1>Skill: <span class="name">{{ pp['skill']['name'] }}</span></h1>
		{% if pp['current_user_role'] == "admin"%}<div class="team-edit"><a href="/skills/{{ pp['skill']['_id'] }}/edit">(Edit)</a>&nbsp;<form enctype="multipart/form-data" action="/skills/{{ pp['skill']['_id'] }}/delete" method="post" style="display:inline-block;"><a id="delete" href="#" onclick="parentNode.submit()">(Delete)</a></form></div>{% endif %}
	</div>
</header>

	<dl class="dl-horizontal">
		<dt>Belongs to Skill Groups</dt>
		{% for skill_group in pp['skill_groups'] %}
			<dd><a href="/skillgroups/{{ skill_group['_id']}}">{{ skill_group['name']}}</a></dd>
		{% endfor %}
	
	</dl>
	<br/>&nbsp;
	<dl class="dl-horizontal">
		<dt>People skilled in {{ pp['skill']['name'] }}</dt>
		{% for employee in pp['employees'] %}
			<dd><a href="/employees/{{ employee['jira_uname']}}">{{ employee['first_name']}} {{employee['last_name']}}</a> <b>{% for i in range(employee['skills'][pp['skill']['_id']]) %}{{"*"}}{% endfor %}</b></dd>
		{% endfor %}
	
	</dl>

{% endblock %}