{% extends "employees/layouts/application.html" %}

{% block content %}

<header class="page-header" style="height:120px;">
	<div class="team-header-info">
		<h1>Skill: <span class="name">{{ pp['skill']['name'] }}</span></h1>
		{% if pp['current_user_role'] == "admin"%}<div class="team-edit"><a href="/skills/{{ pp['skill']['_id'] }}/edit">(Edit)</a>&nbsp;<form enctype="multipart/form-data" action="/skills/{{ pp['skill']['_id'] }}/delete" method="post" style="display:inline-block;"><a id="delete" href="#" onclick="parentNode.submit()">(Delete)</a></form></div>{% endif %}
	</div>
</header>

	<dl class="dl-horizontal" style="border-top:none;">
		<dt>Skill Groups</dt>
		{% for skill_group in pp['skill_groups'] %}
			<dd><a href="/skillgroups/{{ skill_group['_id']}}">{{ skill_group['name']}}</a></dd>
		{% endfor %}
        
	</dl>


{% if "HUMAN LANGUAGE" in pp['skill']['group_names'] %}
    {% for x in range(4, -1, -1) %}
        {% if pp['employees'][x][0]%}
            <dl class="dl-horizontal">
            {% if x > 2 %} <dt>Presentational [* * *] </dt>
            {% elif x == 1 %} <dt>Conversational [* *] </dt>
            {% elif x == 0 %} <dt>Interpret Written / Orally [*] </dt>
            {% endif %}
            <dd>{% for employee in pp['employees'][x] %}
                <p><a href="/employees/{{ employee['jira_uname']}}">{{ employee['first_name']}} {{employee['last_name']}}</a></p>
            {% endfor %}</dd>
            </dl>
        {% endif %}

    {% endfor %}
{% else %}


		{% for x in range(4, -1, -1) %}
            {% if pp['employees'][x][0]%}
            	<dl class="dl-horizontal">
                {% if x == 4 %} <dt>Architect Features [* * * * *] </dt>
                {% elif x == 3 %} <dt>Add Improvements [* * * *] </dt>
                {% elif x == 2 %} <dt>Fix Bugs in Code [* * *] </dt>
                {% elif x == 1 %} <dt>Discuss with Customer [* *] </dt>
                {% elif x == 0 %} <dt>Describe to Fellow Engineer [*] </dt>
                {% endif %}
                <dd>{% for employee in pp['employees'][x] %}
                    <p><a href="/employees/{{ employee['jira_uname']}}">{{ employee['first_name']}} {{employee['last_name']}}</a></p>
                {% endfor %}</dd>
                </dl>
            {% endif %}

        {% endfor %}
{% endif %}
	
	</dl>

{% endblock %}