/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}hr{display:none}
/* BEGIN */
body {
	font: normal 14px/16px Arial,Helvetica,sans-serif;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #6d9a60;
}
#page {
	width: 100%;
}
#page-content {
	width: 948px;
	margin: auto;
}

header.global-header h2 {
	padding: 0;
	font-size:24px;
}	
header.global-header {
	padding: 10px 0 0 0;
	float: left;
	clear: both;
	width: 948px;
	position: fixed;
	background: white;
	z-index:10;
	height: 100px;
}
header.global-header .menu {
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	padding: 1px 0 1px 0;
	border-top: dotted 1px #999;	
	border-bottom: dotted 1px #999;
}
header.global-header .menu ul {
	float: left;
	clear: both;
}	
header.global-header .menu li.dropdown {
	float: left;
	margin: 0;
	font-size: 11px;
	width: 158px;
	height: 30px;
	text-transform: uppercase;
	line-height: 1.3em;
}
header.global-header .menu li.dropdown a {
	float: left;
	display: block;
	width: 100%;
	height: 30px;
	color: #999;
}
header.global-header .menu li.dropdown a:hover {	
	/*background: #000;
	color: #fff;*/
}	
header.global-header .menu li.dropdown a span {
	float: left;
	margin-top: 4px;
	margin: 8px 0 0 10px;
}
header.page-header {
	height: 162px;
	position: relative;
	padding: 10px 0 0 0;
}
header.team-page-header {
	height: 100px;
	position: relative;
	padding: 10px 0 0 0;
}
header.page-header .edit {
	margin: 6px 0 0 168px;
	text-transform: uppercase;
	font-size: 11px;
}
header.page-header .team-edit {
	margin: 6px 0 0 0px;
	text-transform: uppercase;
	font-size: 11px;
}
.edit a {
	color: #7CAE6C;
}
.team-edit a {
	color: #7CAE6C;
}
.edit a:hover {
	color: #cc0000;
}
.team-edit a:hover {
	color: #cc0000;
}	
header.page-header .employee-header-info {
	margin: 0 0 0 168px;
}
header.page-header .employee-header-info h3 {
	font-size: 150%;
}
header.page-header .team-header-info {
	margin: 0 0 0 168px;
}	
header.page-header h1 {
	font-size: 200%;
	line-height: 1.5em;
	padding: 0;
}
header.page-header h1 .name {
	
}
header.page-header h1 .description {
	color: #6587AB;
}	
header.page-header .employee-image {
	position: absolute;
	top: 20px;
	left: 0;
}
header.page-header .employee-image img {
	max-width: 150px;
	max-height: 150px;
	border: solid 1px #ccc;
}
.tabbable-text {
	display: none;
}	
section {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 110px;
}

.employee-image img {
	max-width: 150px;
	max-height: 150px;
	border: solid 1px #ccc;
}

.random-employee {
	margin-left:auto;
	margin-right:auto;
	width:70%;
	text-align:center;
}

dl {
	float: left;
	clear: both;
	width: 780px;
	margin: 0 0 0 168px;
	border-top: dotted 1px #ccc;
}
dt {
	float: left;
	clear: left;
	width: 220px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	margin-bottom: 1px;
}	
dt:after {
	content: ": ";
}
dd {
	float: right;
	padding: 10px 0 10px 220px;	
	margin: 0 0 0 -220px;
	border-bottom: dotted 1px #ccc;
	width: 560px;
}
.edit {
	font-size: 12px;
}
span.nav-user {
	float: right;
	clear: both;
	padding: 10px 0 10px 0;
	font-size: 12px;
	font-weight: normal;
}
span.nav-user a {
	color: #7CAE6C;
}
span.nav-user a:hover {
	color: #cc0000;
}
footer.global-footer {
	float: left;
	clear: both;
	border-top: dotted 1px #999;
	padding: 10px 0 10px 0;
	margin: 100px 0 10px 0;
	width: 100%;
	font-size: 12px;
}
footer.global-footer a {
	color: #7CAE6C;
	font-weight: bold;
}
footer.global-footer a:hover {
	color: #cc0000;
}	



.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-tabs {
  *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}

.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 1.6em;
  padding-top: 5px;
  padding-bottom: 8px;
  line-height:15px;
  border: 1px solid transparent;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tabbable {
  *zoom: 1;
}


.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}


.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
  border: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a {
  border: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: black;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}


.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.dropdown .caret {
  margin-top: 5px;
  margin-left: 5px;
}

.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.reviewdisplay {
	padding: 20px 20px;
	border-style:solid;
	border-width:1px;
	border-color: #778899;
}

.redtext:link {
	color: "red";
}


/* END */

