{% extends "employees/layouts/application.html" %}

{% block js %}
<script type="text/javascript" src="/static/employees/js/select2.js"></script>
<script type="text/javascript" src="/static/employees/js/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
{% endblock %}


{% block content %}
<header class="review-header">
    <h1>Performance Review: {{pp['performance_review']['name']}}</h1>
</header>

{% if pp['error_message'] %}
<br/>
<h3 style="color:#b22222; opacity: .7">{{ pp['error_message'] }}</h3>
{% endif %}

<div class ="row show-grid">
    {% if pp['view'] == "Manager" and pp['performance_review']['status'] != "needs employee review" %}
    <div class="span6">
        <div class="reviewdisplay2">
            <br/>
            <header1 style="font-size:25px">Employee Review ({{pp['employee']['first_name']}} {{pp['employee']['last_name']}}):</header1>
            <br/><br/><br/>
            <div>
            {% for question in pp['performance_review']['employee_questions'] %}
                <p><b><i>{{question['text']}}</i></b></p><br/>
                <p>{{question['response']}}</p>
                <br/>
                {% endfor %}
            </div>
        </div><!-- reviewdisplay2 -->
    </div><!-- span6 -->
    {% endif %}

    <div class="span6">
        <div class= "reviewdisplay2">
            <form action="" method="post" class="form-horizontal" name="EditReview">
                <input type="hidden" name="id" value="{{ pp['performance_review']['_id'] }}" >
                    <fieldset>
                    {% if pp['view'] == "Employee" %}
                        <br/>
                        <header1 style="font-size:25px">Employee Review</header1>
                        <br/><br/><br/>
                        <div>
                        {% for question in pp['performance_review']['employee_questions'] %}
                            <p><b><i>{{question['text']}}</i></b></p><br/>
                            <textarea class="questionresponse" id={{question['name']}} name={{question['name']}} rows= "10" placeholder= {{question['placeholder']}}>{{ question['response'] }}</textarea>
                            <br/>
                        {% endfor %}
                        <div>

                    {% elif pp['view'] == "Manager" %}
                        <br/>
                        <header1 style="font-size:25px">Manager Review</header1>
                        <br/><br/><br/>
                        {% for question in pp['performance_review']['manager_questions'] %}
                            <p><b><i>{{question['text']}}</i></b></p>
                            <textarea class="questionresponse" id={{question['name']}} name={{question['name']}} rows= "10" placeholder= {{question['placeholder']}}>{{ question['response'] }}</textarea>
                            <br/>
                        {% endfor %}
                        <br/>
                        <label class="review-label" style="width:340px">Allow employee to see results before 1-1 meeting?</label>
                        <input type="checkbox" name="early_employee_view" style="margin-top: 19px" {% if pp['performance_review']['early_employee_view'] == true %} checked="on" {% endif %}></input>
                        {% endif %}                    


                    </fieldset>

                <br/><br/>
                <input type="submit" class ="btn btn-review" style="float:right; margin-top: -24px" name="bsubmit" value="Submit" id="bsubmit">
                <input type="submit" class ="btn btn-review" style="float:right; margin-top: -24px" name="bsubmit" value="Save" id="bsubmit">
            </form>
        </div><!-- reviewdisplay -->
    </div><!-- span6 -->

    {% if pp['view'] == "Employee" and pp['performance_review']['early_employee_view'] == true %}
    <div class="span6">
        <div class="reviewdisplay2">
            <br/>
            <header1 style="font-size:25px">Manager Review ({{pp['manager']['first_name']}} {{pp['manager']['last_name']}}):</header1>
            <br/><br/><br/>
            <div>
            {% for question in pp['performance_review']['manager_questions'] %}
                <p><b><i>{{question['text']}}</i></b></p><br/>
                <p>{{question['response']}}</p>
                <br/>
                {% endfor %}
            </div>
        </div><!-- reviewdisplay2 -->
    </div><!-- span6 -->
    {% endif %}
</div><!-- row show-grid -->


{% endblock %}