{% extends "employees/layouts/application.html" %}

{% block js %}
<script type="text/javascript" src="/static/employees/js/select2.js"></script>
<script type="text/javascript" src="/static/employees/js/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
{% endblock %}


{% block content %}
<header class="page-header" style="height:120px;">
  <div class="team-header-info">
    <h1>Performance Review: {{pp['performance_review']['name']}}</h1>
    </div>
</header>

{% if pp['error_message'] %}
<br/>
<h3 style="color:red;">{{ pp['error_message'] }}</h3>
{% endif %}

    {% if (pp['view'] == "Manager") and (pp['performance_review']['employee_submitted']) %}
            <div class="reviewdisplay">
                <h2>Employee Review ({{pp['employee']['first_name']}} {{pp['employee']['last_name']}}):</h2>
                    <br/>
                    <br/>
                    {% for question in pp['performance_review']['employee_questions'] %}
                        <p><b><i>{{question['text']}}</i></b></p>
                        <p>{{question['response']}}</p>
                            <br/>
                    {% endfor %}
            </div>
    {% endif %}

    <br/>
    <br/>

        <div class= "reviewdisplay">
            <h2>Manager Review:</h2>
            <form action="" method="post" class="form-horizontal">
                <input type="hidden" name="id" value="{{ pp['performance_review']['_id'] }}" >
                    
                    <div>
                            
                            <br/>
                            <br/>
                            
                            <fieldset>

                                {% if pp['view'] == "Employee" %}
                                    {% for question in pp['performance_review']['employee_questions'] %}
                                    <div class="control-group">
                                        <label class="control-label" for="textarea">{{question['text']}}</label>
                                        <div class="controls">
                                            <textarea class="input-xlarge" id={{question['name']}} name={{question['name']}} rows= "10" placeholder= {{question['placeholder']}}>{{ question['response'] }}</textarea>
                                        </div><!-- controls-->
                                    </div><!-- control-group-->	
                                    {% endfor %}
                                {% endif %}

                                {% if pp['view'] == "Manager" %}
                                    {% for question in pp['performance_review']['manager_questions'] %}
                                    <div class="control-group">
                                        <label class="control-label" for="textarea">{{question['text']}}</label>
                                        <div class="controls">
                                            <textarea class="input-xlarge" id={{question['name']}} name={{question['name']}} rows= "10" placeholder= {{question['placeholder']}}>{{ question['response'] }}</textarea>
                                        </div><!-- controls-->
                                    </div><!-- control-group--> 
                                    {% endfor %}
                                {% endif %}                    


                            </fieldset>
                        
                    </div>
                    <br/>
                    <input type="submit" class ="btn btn-primary" style="float:right;">
            </form>
        </div>





{% endblock %}