{% extends "employees/layouts/application.html" %}

{% block js %}
<script type="text/javascript" src="/static/employees/js/select2.js"></script>
<script type="text/javascript" src="/static/employees/js/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/employees/css/select2.css" />
<link rel="stylesheet" type="text/css" href="/static/employees/css/jquery.fancybox-1.3.4.css" media="screen" />
{% endblock %}

{% block content %}


<header class="page-header" style="height:120px;">
  <div class="team-header-info">
    <h1>Performance Reviews: </h1>
    {% if pp['current_user_role'] == "admin" %}
      <br/>
      <br/>
      <br/>
      <div><a class="btn" style="float:right" href="/performancereviews/hrdashboard" id="hrdashboard">+ HR Dashboard</a></div>
    {% endif %}
  </div>
</header>


{% if (pp['error_message'] and (pp['error_message'].__len__() > 0)) %}
  <br/>
  <h3 style="color:red;">{{ pp['error_message'] }}</h3>
{% endif %}

<div class="row show-grid">

  <div class="span6">
    <div class= "reviewdisplay">
          <div class="control-group">
            <label class="control-label"><b>My Reviews:</b></label>
            <br/>
              <div class="redtext">
                {% for review in pp['my_performancereviews'] %}
                  {% if review['employee_submitted'] %}
                    <p><a href="/performancereviews/{{review['_id'] }}">{{review['name']}}<i> (Completed)</i></a></p>
                  {% else %}
                    <p><a href="/performancereviews/{{review['_id']}}/edit">{{review['name']}}</a></p>
                  {% endif %}
                {% endfor %}
              </div><!-- controls-->
          </div><!-- control-group-->
          <br/>
    </div>
  </div>

  <div class="span6">
    <div class="reviewdisplay"
            <div class="control-group">
              <label class="control-label"><b>My Managing Reviews:</b></label>
              <br/>
                <div class="controls">
                  {% for review in pp['my_managing_performancereviews'] %}
                      <p><a href="/performancereviews/{{review['_id'] }}">{{review['name']}} {% if review['manager_submitted']%} <i>(Completed)</i> {% endif %}</a></p>
                  {% endfor %}
                </div><!-- controls-->
            </div><!-- control-group-->
            <br/>
    </div>
  </div>
</div>

{% endblock %}