{% extends "employees/layouts/application.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
<link rel="stylesheet" type="text/css" href="/static/employees/css/bootstrap.css" />

<header class="page-header" style="height:120px;">
  <div class="team-header-info">
    <h1>Performance Review: {{pp['performance_review']['name']}}</h1>
    </div>
</header>
    
<div class="row show-grid">
    	{%if pp['view'] == "Employee" %}
	    	<div class="span6">
	    		<div class="reviewdisplay">
			    	<h2>Employee Review ({{pp['employee']['first_name']}} {{pp['employee']['last_name']}}):</h2>
			    	{% if pp['performance_review']['status'] not in ["needs employee signature", "done"] %}
			    		<div class="edit"><a href="/performancereviews/{{ pp['performance_review']['_id'] }}/edit" style="display:inline-block;">(Edit)</a></div>
			    	{% endif %}
			    	<br/>
			    	<br/>
				    {% for question in pp['performance_review']['employee_questions'] %}
				    	<p><b><i>{{question['text']}}</i></b></p>
				    	<p>{{question['response']}}</p>
				    		<br/>
				    {% endfor %}
				</div>
			</div>
			{% if pp['performance_review']['early_employee_view'] %}
				<div class="span6">
		    		<div class="reviewdisplay">
				    	<br/>
				    	<br/>
					    {% for question in pp['performance_review']['manager_questions'] %}
					    	<p><b><i>{{question['text']}}</i></b></p>
					    	<p>{{question['response']}}</p>
					    	<br/>
					    {% endfor %}
					</div>
				</div>
			{% endif %}

		{% elif (pp['view'] == "Manager") or ("admin" in pp['current_user_roles']) %}
			<div class="span6">
				<div class="reviewdisplay">
			    	<h2>Employee Review ({{pp['employee']['first_name']}} {{pp['employee']['last_name']}}):</h2>
			    		{% if pp['performance_review']['status'] != "needs employee review" %}
			    			<p><i>(Completed)</i></p>
			    		{% else %}
			    			<p><i>(Not Completed)</i></p>
			    		{% endif %}
			    	<br/>
			    	<br>
				    {% for question in pp['performance_review']['employee_questions'] %}
				    	<p><b><i>{{question['text']}}</i></b></p>
				    		{%if pp['performance_review']['status'] != "needs employee review" %}<p>{{question['response']}}</p>{% endif %}
				    		<br/>
				    {% endfor %}
				</div>
			</div>

    	  	<div class="span6">
	    		<div class="reviewdisplay">
			    	<h2>Manager Review ({{pp['manager']['first_name']}} {{pp['manager']['last_name']}}):</h2>
			    	{% if pp['performance_review']['status'] == "needs employee review" %}
			    		<p><i>(Needs Employee Review)</i></p>
			    	{% elif pp['performance_review']['status'] == "needs manager review" %}
			    		<p><i>(Not Completed)</i></p>
			    	{% else %}
			    		<p><i>(Completed)</i></p>
			    	{% endif %}
			    	{% if pp['view'] == "Manager" and pp['performance_review']['status'] != "done" and pp['performance_review']['status'] != "needs employee review" %}
			    		<div class="edit"><a href="/performancereviews/{{ pp['performance_review']['_id']}}/edit" style="display:inline-block;">(Edit)</a></div>
			    	{% endif %}
			    	<br/>
			    	<br/>
				    {% for question in pp['performance_review']['manager_questions'] %}
				    	<p><b><i>{{question['text']}}</i></b></p>
				    	<p>{{question['response']}}</p>
				    	<br/>
				    {% endfor %}
				</div>
			</div>

		{% endif %}
</div>

{% endblock %}




		
	

 
