<!doctype html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>10gen internal corp site</title>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/employees/js/jquery-ui-1.8.21.custom.min.js"></script>
	{% block js %}{% endblock %}
	{% block styles %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
	
</head>

<body>

	<div id="page">

		<div id="page-content">

			<header class="global-header">

			    <h2>10gen corp site<span class="nav-user">logged in as <b>{{ pp['user']}}</b> - <a href="/logout">logout</a></span></h2>

				<ul class="menu">
					<li><a href="/employees"><span>Employees</span></a></li>
					<li><a href="/newsletterSignups"><span>Newsletter Signups</span></a></li>
					<li><a href="/dlEvents"><span>Download Events</span></a></li>
					<li><a href="/dlDomains"><span>Downloads by Domain</span></a></li>
					<li><a href="/csSignups"><span>Comm Supp Signups</span></a></li>
					<li><a href="/contributors"><span>Contributors</span></a></li>
					<li><a href="/orgchart"><span>Org Chart</span></a></li>
					<li><a href="/codeReview"><span>Code Review</span></a></li>
					<li><a href="/jirarep"><span>Jira Reports</span></a></li>
					<li><a href="/pstats"><span>Performance Stats</span></a></li>
					<li><a href="/clienthub"><span>Clienthub</span></a></li>
					<li>&nbsp;</li>
				</ul>

			</header>
			
			<div class="tabbable tabs-below">
			        <ul class="nav nav-tabs" id="tabs">
			          <li class="" id="employees-link"><a href="/employees">Employees</a></li>
			          <li id="skills-url"><a href="/skills">Skills</a></li>
			          <li id="teams-url"><a href="/teams">Teams</a></li>
					  <li id="projectgroups-url"><a href="/projectgroups">Project Groups</a></li>
			        </ul>
			      </div>
			
			<br/>

			<section>
			    {% block content %}
			    {% endblock %}
			</section>

			<footer class="global-footer">
			</footer>
			
			<script type="text/javascript" charset="utf-8">
				function ImgError(img_tag, email_hash){
			    	img_tag.src = "http://www.gravatar.com/avatar/" + email_hash + "?s=150";
					img_tag.onerror = "";
				 	no_image_element = $("#no_image_message");
					if (no_image_element) {
						no_image_element.toggle();
					}
			    	return true;
				}

				$("#tabs li").each(function() {
					if($(this).attr("id").split("-")[0] == window.location.pathname.split("/")[1]){
						$(this).addClass("active");
					}
					else {
						$(this).addClass("");
					}
				});
			</script>
	
		</div><!-- #page-content -->
	
	</div><!-- #page -->
</body>
</html>