<!doctype html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>10gen internal corp site</title>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/employees/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="/static/employees/js/bootstrap.min.js"></script>
	{% block js %}{% endblock %}
	{% block styles %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
	
</head>

<body>

	<div id="page">

		<div id="page-content">

			<header class="global-header">

			    <h2>10gen corp site<span class="nav-user">logged in as <a href="/employees/{{ pp['user']}}">{{pp['user']}}</a> - <a href="/logout">logout</a></span></h2>

				<ul class="menu">
					<li class="dropdown" >
						<a  data-toggle="dropdown">
				      		<span>Employees<b class="caret"></b></span>
				    	</a>
				   	 	<ul class="dropdown-menu">
						  <li class="sub-elements"><span><a href="/employees">Profiles</a></span></li>
					      <li class="sub-elements"><span><a href="/skills">Skills</a></span></li>
					      <li class="sub-elements"><span><a href="/teams">Teams</a></span></li>
					      <li class="sub-elements"><span><a href="/projectgroups">Project Groups</a></span></li>
					      <li class="sub-elements"><span><a href="/orgchart">Org Chart</a></span></li>
					      <!--<li class="sub-elements"><span><a href="/performancereviews">Performance Reviews</a></span></li>-->
					    </ul>
				  	</li>
					<li class="dropdown" >
						<a  data-toggle="dropdown">
				      		<span>Downloads<b class="caret"></b></span>
				    	</a>
				   	 	<ul class="dropdown-menu">
						  <li class="sub-elements"><span><a href="/dlDomains">Downloads by Domain</a></span></li>
					      <li class="sub-elements"><span><a href="/dlEvents">Download Events</a></span></li>
					    </ul>
				  	</li>
					<li class="dropdown" >
						<a  data-toggle="dropdown">
				      		<span>Reports / Review<b class="caret"></b></span>
				    	</a>
				   	 	<ul class="dropdown-menu">
						  <li class="sub-elements"><span><a href="/jirarep">Jira Reports</a></span></li>
					      <li class="sub-elements"><span><a href="/pstats">Performance Stats</a></span></li>
						  <li class="sub-elements"><span><a href="/codeReview">Code Review</a></span></li>
					    </ul>
				  	</li>
					<li class="dropdown" >
						<a  data-toggle="dropdown">
				      		<span>Community / External<b class="caret"></b></span>
				    	</a>
				   	 	<ul class="dropdown-menu">
						  <li><span><a href="/csSignups">Commercial Support Signups</a></span></li>
					      <li><span><a href="/contributors">Contributors</a></span></li>
					    </ul>
				  	</li>
					<li class="dropdown" ><a href="/newsletterSignups"><span>Newsletter Signups</span></a></li>
					<li class="dropdown" ><a href="/clienthub"><span>Clienthub</span></a></li>

				</ul>

			</header>

			<section>
			    {% block content %}
			    {% endblock %}
			</section>

			<footer class="global-footer">
			</footer>
			
			<script type="text/javascript" charset="utf-8">
				function ImgError(img_tag, email_hash){
			    	img_tag.src = "http://www.gravatar.com/avatar/" + email_hash + "?s=150";
					img_tag.onerror = "";
				 	no_image_element = $("#no_image_message");
					if (no_image_element) {
						no_image_element.toggle();
					}
			    	return true;
				}

				$("#tabs li").each(function() {
					if($(this).attr("id").split("-")[0] == window.location.pathname.split("/")[1]){
						$(this).addClass("active");
					}
					else {
						$(this).addClass("");
					}
				});
				$('.dropdown-toggle').dropdown()
			</script>
	
		</div><!-- #page-content -->
	
	</div><!-- #page -->
</body>
</html>