<!doctype html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>10gen internal corp site</title>
	
	<link rel="stylesheet" type="text/css" href="/static/employees/css/custom.css">
	
	{% block js %}{% endblock %}
	{% block styles %}{% endblock %}

</head>

<body>

	<div id="page">

		<div id="page-content">

			<header class="global-header">

			    <h2>10gen corp site</h2>

				<ul class="menu">
					<li><a href="/employees"><span>Employees</span></a></li>
					<li><a href="/newsletterSignups"><span>Newsletter Signups</span></a></li>
					<li><a href="/dlEvents"><span>Download Events</span></a></li>
					<li><a href="/dlDomains"><span>Downloads by Domain</span></a></li>
					<li><a href="/csSignups"><span>Comm Supp Signups</span></a></li>
					<li><a href="/contributors"><span>Contributors</span></a></li>
					<li><a href="/orgchart"><span>Org Chart</span></a></li>
					<li><a href="/codeReview"><span>Code Review</span></a></li>
					<li><a href="/jirarep"><span>Jira Reports</span></a></li>
					<li><a href="/pstats"><span>Performance Stats</span></a></li>
					<li><a href="/clienthub"><span>Clienthub</span></a></li>
					<li>&nbsp;</li>
				</ul>

			</header>
			<ul>
				<li><a href="/employees"><span>Employees</span></a>&nbsp;|&nbsp;<a href="/teams"><span>Teams</span></a>&nbsp;|&nbsp;<a href="/skills"><span>Skills</span></a>
					&nbsp;|&nbsp;<a href="/skillgroups"><span>Skill Groups</span></a></li>
			</ul>
			<br/>

			<section>
			    {% block content %}
			    {% endblock %}
			</section>

			<footer class="global-footer">
				10gen internal - logged in as <b></b> - <a href="/logout">logout</a>
			</footer>
			
			<script type="text/javascript" charset="utf-8">
				function ImgError(img_tag, email_hash){
			    	img_tag.src = "http://www.gravatar.com/avatar/" + email_hash + "?s=150";
					img_tag.onerror = "";
				 	no_image_element = $("#no_image_message");
					if (no_image_element) {
						no_image_element.toggle();
					}
			    	return true;
				}
			</script>
	
		</div><!-- #page-content -->
	
	</div><!-- #page -->
</body>
</html>