{% extends "internal.html" %}
{% set wide = True %}
{% set disabletrackers = True %}

{% block title %}10gen Client Hub{% endblock %}

{% block leftnav %}

  <div class="suplimental">
    <div class="subnav">
      <h2>Welcome {{current_user()}}</h2>
      <ul>
        <li><a href="{{link('logout')}}">Log Out</a></li>
        <li{% if page_is('client.clienthub') %} class="current"{% endif %}><a href="{{link('client.clienthub')}}">My Clients</a></li>
        <li{% if page_is('client.allclients') %} class="current"{% endif %}><a href="{{link('client.allclients')}}">Full Client List</a></li>
        <li{% if page_is('doc.documentsearch') %} class="current"{% endif %}><a href="{{link('doc.documentsearch')}}">Document Search</a></li>
        <li{% if page_is('report.clienthubreports') %} class="current"{% endif %}><a href="{{link('report.clienthubreports')}}">Reports</a></li>
        <li{% if page_is('jira.jiratool') %} class="current"{% endif %}><a href="{{link('jira.jiratool')}}">JIRA Administration Tool</a></li>
      </ul>
    </div>

    {% if client %}
    <div class="subnav">
      <h2>{{client.name|abbrev(25)}}</h2>
      <ul>
        <li{% if page_is('client.clientview') or page_is('client.clientedit') %} class="current"{% endif %}><a href="{{link('client.clientview', client._id)}}">Overview</a></li>
        <li><a href="{{client|jira_opencases_link}}">Open JIRA Cases</a></li>
        <li><a href="{{client|jira_allcases_link}}">All JIRA Cases</a></li>
        <li><a href="{{client|jira_voted_watched_link}}">Voted/Watched JIRA Cases</a></li>
        <li><a href="{{link('client.exportclientview', client._id)}}">Export JIRA case data to excel</a></li>
      </ul>
    </div>
    {% endif %}

  </div>

{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{'/static/css/tablesorter/style.css'|staticurl}}"/>
    <link rel="stylesheet" type="text/css" href="{{'/static/admin/css/admin.css'|staticurl}}"/>
    <link rel="stylesheet" type="text/css" href="{{'/static/clienthub/css/clienthub.css'|staticurl}}"/>
    <link rel="stylesheet" type="text/css" href="{{'/static/clienthub/css/dataTables.css'|staticurl}}"/>
    {% block morestyles %}{% endblock %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{'/static/js/jquery.tablesorter.min.js'|staticurl}}"></script>
    <script type="text/javascript" src="{{'/static/js/jquery.tablesorter.pager.js'|staticurl}}"></script>
    <script type="text/javascript" src="{{'/static/js/jquery.dataTables.min.js'|staticurl}}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        setInterval(function() { $.ajax('/api/heartbeat'); }, 60000);
      });
    </script>
    {% block morescripts %}{% endblock %}
{% endblock %}

