html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Training */
.vimeo.right {
  float: right;
  margin-left: 20px;
  border: 6px solid #e8e8e8;
  padding: 0px;
}
.vimeo.left {
  float: left;
  margin-right: 20px;
  padding: 0px;
}

/* Site Buttons */
a.button, input.button, button, p.button a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  color: #fff;
  border: 1px solid #5c8e5d !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -o-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  background-color: #7ec27e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ec27e), to(#639863));
  background-image: -webkit-linear-gradient(top, #7ec27e, #639863);
  background-image: -moz-linear-gradient(top, #7ec27e, #639863);
  background-image: -o-linear-gradient(top, #7ec27e, #639863);
  background-image: linear-gradient(top, #7ec27e, #639863);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ec27e', endColorstr='#639863',GradientType=0 );
  /* ie */
}
a.button:hover, input.button:hover, button:hover, p.button a:hover {
  background-color: #7cbe7c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7cbe7c), to(#558255));
  background-image: -webkit-linear-gradient(top, #7cbe7c, #558255);
  background-image: -moz-linear-gradient(top, #7cbe7c, #558255);
  background-image: -o-linear-gradient(top, #7cbe7c, #558255);
  background-image: -ms-linear-gradient(top, #7cbe7c, #558255);
  background-image: linear-gradient(top, #7cbe7c, #558255);
}
a.button:active, input.button:active, button:active, p.button a:active {
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  background-color: #7aba7a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7aba7a), to(#639563));
  background-image: -webkit-linear-gradient(top, #7aba7a, #639563);
  background-image: -moz-linear-gradient(top, #7aba7a, #639563);
  background-image: -o-linear-gradient(top, #7aba7a, #639563);
  background-image: -ms-linear-gradient(top, #7aba7a, #639563);
  background-image: linear-gradient(top, #7aba7a, #639563);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7aba7a', EndColorStr='#639563');
}

div.secondary p.button a, div.subnav p.button a, a.subtle {
  color: #666;
  width: 185px;
  text-shadow: white 0 -1px 0;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #bbbdbd !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none !important;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.2) 0px 0px 2px, rgba(51, 51, 51, 0.1) 0 1px 1px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0px 0px 2px, rgba(51, 51, 51, 0.1) 0 1px 1px;
  -o-box-shadow: inset rgba(255, 255, 255, 0.2) 0px 0px 2px, rgba(51, 51, 51, 0.1) 0 1px 1px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 0px 2px, rgba(51, 51, 51, 0.1) 0 1px 1px;
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #dcdcdc);
  background-image: -moz-linear-gradient(top, #f4f4f4, #dcdcdc);
  background-image: -o-linear-gradient(top, #f4f4f4, #dcdcdc);
  background-image: -ms-linear-gradient(top, #f4f4f4, #dcdcdc);
  background-image: linear-gradient(top, #f4f4f4, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#dcdcdc');
}
div.secondary p.button a:hover, div.subnav p.button a:hover, a.subtle:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, white, #cfcfcf);
  background-image: -moz-linear-gradient(top, white, #cfcfcf);
  background-image: -o-linear-gradient(top, white, #cfcfcf);
  background-image: -ms-linear-gradient(top, white, #cfcfcf);
  background-image: linear-gradient(top, #ffffff, #cfcfcf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#cfcfcf');
  text-decoration: none !important;
}
div.secondary p.button a:active, div.subnav p.button a:active, a.subtle:active {
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 6px;
  background-color: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #eeeeee);
  background-image: -moz-linear-gradient(top, #dcdcdc, #eeeeee);
  background-image: -o-linear-gradient(top, #dcdcdc, #eeeeee);
  background-image: -ms-linear-gradient(top, #dcdcdc, #eeeeee);
  background-image: linear-gradient(top, #dcdcdc, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='#eeeeee');
}

/*
 * jQuery UI Tabs 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
#tab-container {
  display: block;
  width: 100%;
  float: left;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

#tabs {
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.ui-tabs {
  position: relative;
  padding: .2em;
  zoom: 1;
  /* position: relative prevents IE sc roll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
  /* Training Table */
}
.ui-tabs .ui-tabs-nav {
  margin: 0 0 -1px;
  padding: 3px 20px 0;
  overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  list-style-type: none;
  float: left;
  position: relative;
  z-index: 5;
  top: 1px;
  margin: 0 -1px 1px 0;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  z-index: 6;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 8px 14px;
  text-decoration: none;
  margin-bottom: -2px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  list-style-type: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #ffffff);
  background-image: -moz-linear-gradient(top, #e5e5e5, #ffffff);
  background-image: -o-linear-gradient(top, #e5e5e5, #ffffff);
  background-image: -ms-linear-gradient(top, #e5e5e5, #ffffff);
  background-image: linear-gradient(top, #e5e5e5, #ffffff);
  background-color: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5e5e5', EndColorStr='white');
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 30px 30px, inset rgba(255, 255, 255, 0.9) 0 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 30px 30px, inset rgba(255, 255, 255, 0.9) 0 1px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 30px 30px, inset rgba(255, 255, 255, 0.9) 0 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 30px, inset rgba(255, 255, 255, 0.9) 0 1px 0px;
  border-bottom: solid 1px white;
  margin-bottom: -1px;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: white 2px 1px 0px;
  color: #333;
  margin-top: -3px;
  padding-top: 11px;
  list-style: none;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #eaeaea), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(top, #eaeaea 80%, #dbdbdb 100%);
  background-image: -moz-linear-gradient(top, #eaeaea 80%, #dbdbdb 100%);
  background-image: -o-linear-gradient(top, #eaeaea 80%, #dbdbdb 100%);
  background-image: -ms-linear-gradient(top, #eaeaea 80%, #dbdbdb 100%);
  background-image: linear-gradient(top, #eaeaea 80%, #dbdbdb 100%);
  background-color: #dbdbdb;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#dbdbdb');
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 -1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 -1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.1) 0 -1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 -1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0px;
  border: 1px solid #c2c2c2;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: white 2px 1px 0px;
  color: #666;
  z-index: 20;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  width: 665px;
  padding: 1em 1.4em;
  background: none;
  float: left;
  border: 1px solid #d6d6d6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
.ui-tabs table.intro-table {
  background-color: white;
  width: 100%;
  vertical-align: top;
  border: none;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font: 14px/24px ff-meta-web-pro-1, ff-meta-web-pro-2, "Lucida Grande", Tahoma, sans-serif;
  letter-spacing: -0.02em;
  color: #666666;
  -webkit-font-smoothing: antialiased;
}
.ui-tabs table.intro-table td {
  border: none;
}
.ui-tabs table.intro-table td p:last-child {
  margin-bottom: 0px;
}
.ui-tabs table.intro-table th {
  color: #999;
  vertical-align: text-top;
  background: none;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  text-align: text-top;
}
.ui-tabs table.alt-table {
  background-color: white;
  width: 100%;
  vertical-align: top;
  border: none;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font: 14px/24px ff-meta-web-pro-1, ff-meta-web-pro-2, "Lucida Grande", Tahoma, sans-serif;
  letter-spacing: -0.02em;
  border-collapse: collapse;
  color: #666666;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.ui-tabs table.alt-table .alt {
  background-color: #f8f8f8;
}
.ui-tabs table.alt-table th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f84a8), color-stop(100%, #3e5782));
  background-image: -webkit-linear-gradient(top, #5f84a8, #3e5782);
  background-image: -moz-linear-gradient(top, #5f84a8, #3e5782);
  background-image: -o-linear-gradient(top, #5f84a8, #3e5782);
  background-image: -ms-linear-gradient(top, #5f84a8, #3e5782);
  background-image: linear-gradient(top, #5f84a8, #3e5782);
  background-color: #5f84a8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f84a8', EndColorStr='#3e5782');
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
  font-size: 14px;
  padding: 5px 15px;
  border-right: 1px solid #466285;
}
.ui-tabs table.alt-table th:first-child {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -khtml-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  border-left: 1px solid transparent;
}
.ui-tabs table.alt-table th:last-child {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -khtml-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border-right: 1px solid transparent;
  text-align: center;
}
.ui-tabs table.alt-table td {
  padding: 5px 15px;
  border-right: 1px solid #ccc;
  -moz-box-shadow: rgba(51, 51, 51, 0.05) -1px 0px 0px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.05) -1px 0px 0px;
  -o-box-shadow: rgba(51, 51, 51, 0.05) -1px 0px 0px;
  box-shadow: rgba(51, 51, 51, 0.05) -1px 0px 0px;
}
.ui-tabs table.alt-table td:first-child {
  border-left: 1px solid #ccc;
}
.ui-tabs table.alt-table td:last-child {
  border-right: 1px solid #ccc;
}

.faq {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(#ffffff, #ededed 100px);
  background: -moz-linear-gradient(#ffffff, #ededed 100px);
  background: -o-linear-gradient(#ffffff, #ededed 100px);
  background: -ms-linear-gradient(#ffffff, #ededed 100px);
  background: linear-gradient(#ffffff, #ededed 100px);
  background-color: #ededed;
  padding: 20px;
  border: 1px solid #efefef;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  margin-bottom: 20px;
}
.faq h2 {
  line-height: 28px;
  margin-bottom: 5px;
}
.faq p {
  margin-bottom: 0px;
}

.content {
  width: 950px;
  float: left;
  margin: 0 0 40px;
  font-size: 15px;
}
.content .leftbar {
  font-size: 13px;
  float: left;
}
.content .main {
  padding-left: 20px;
  width: 700px;
  float: left;
}
.content .main .rightbar {
  float: right;
  padding-left: 10px;
}
.content .main .center {
  position: relative;
  width: 450px;
}
.content.wide .rightbar {
  display: none;
}
.content.wide .center {
  width: 700px;
}

div.rightbar {
  float: right;
}

.content.partners {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.content.partners a.more {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px;
}
.content.partners .partnertype {
  margin-bottom: 1.2em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #ccc;
}
.content.partners .partnertype .logos a {
  margin-left: 5px;
}
.content.partners .partnertype .logos a:first-child {
  margin-left: 0px;
}
.content.partners .partnertype .logos a img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  max-width: 163px;
}

.content.partner_type .rightbar {
  padding-left: 0px;
}
.content.partner_type .center {
  width: 470px;
}
.content.partner_type .partner {
  float: left;
  margin-bottom: 15px;
  width: 223px;
}
.content.partner_type .partner + .partner {
  margin-left: 15px;
}
.content.partner_type .partner > a img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  max-width: 218px;
  margin-bottom: 0.4em;
}
.content.partner_type .partner > h2 {
  margin-bottom: 0;
}

.content.partner_detail img.partnerbanner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: none;
  background: none;
  padding: 0;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

/* usecases */
.content.usecases {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.content.usecases a.more {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px;
}
.content.usecases .usecase {
  margin-bottom: 1.2em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #ccc;
}

/* marketo forms */
#marketo-form-contact select {
  width: 295px;
}

#marketo-form-littleformi {
  padding: 0px !important;
}
#marketo-form-littleformi input {
  font-size: 13px;
}
#marketo-form-littleformi div.content ul li {
  padding: 0px !important;
}
#marketo-form-littleformi ul {
  padding: 0px !important;
}
#marketo-form-littleformi li {
  padding: 0px !important;
}
#marketo-form-littleformi #mktFrmSubmit {
  float: right;
  margin: 0px;
  line-height: 20px !important;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  color: #fff;
  border: 1px solid #5c8e5d !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -o-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  background-color: #7ec27e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ec27e), to(#639863));
  background-image: -webkit-linear-gradient(top, #7ec27e, #639863);
  background-image: -moz-linear-gradient(top, #7ec27e, #639863);
  background-image: -o-linear-gradient(top, #7ec27e, #639863);
  background-image: -ms-linear-gradient(top, #7ec27e, #639863);
  background-image: linear-gradient(top, #7ec27e, #639863);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec27e', EndColorStr='#639863');
}
#marketo-form-littleformi #mktFrmSubmit:hover {
  background-color: #7cbe7c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7cbe7c), to(#558255));
  background-image: -webkit-linear-gradient(top, #7cbe7c, #558255);
  background-image: -moz-linear-gradient(top, #7cbe7c, #558255);
  background-image: -o-linear-gradient(top, #7cbe7c, #558255);
  background-image: -ms-linear-gradient(top, #7cbe7c, #558255);
  background-image: linear-gradient(top, #7cbe7c, #558255);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7cbe7c', EndColorStr='#558255');
}
#marketo-form-littleformi #mktFrmSubmit:active {
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  background-color: #7aba7a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7aba7a), to(#639563));
  background-image: -webkit-linear-gradient(top, #7aba7a, #639563);
  background-image: -moz-linear-gradient(top, #7aba7a, #639563);
  background-image: -o-linear-gradient(top, #7aba7a, #639563);
  background-image: -ms-linear-gradient(top, #7aba7a, #639563);
  background-image: linear-gradient(top, #7aba7a, #639563);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7aba7a', EndColorStr='#639563');
}

#marketo-form-littleformii {
  padding: 0px !important;
}
#marketo-form-littleformii input {
  font-size: 13px;
}
#marketo-form-littleformii div.content ul li {
  padding: 0px !important;
}
#marketo-form-littleformii ul {
  padding: 0px !important;
}
#marketo-form-littleformii li {
  padding: 0px !important;
}
#marketo-form-littleformii #mktFrmSubmit {
  float: right;
  margin: 0px;
  line-height: 20px !important;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  color: #fff;
  border: 1px solid #5c8e5d !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -o-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  background-color: #7ec27e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ec27e), to(#639863));
  background-image: -webkit-linear-gradient(top, #7ec27e, #639863);
  background-image: -moz-linear-gradient(top, #7ec27e, #639863);
  background-image: -o-linear-gradient(top, #7ec27e, #639863);
  background-image: -ms-linear-gradient(top, #7ec27e, #639863);
  background-image: linear-gradient(top, #7ec27e, #639863);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec27e', EndColorStr='#639863');
}
#marketo-form-littleformii #mktFrmSubmit:hover {
  background-color: #7cbe7c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7cbe7c), to(#558255));
  background-image: -webkit-linear-gradient(top, #7cbe7c, #558255);
  background-image: -moz-linear-gradient(top, #7cbe7c, #558255);
  background-image: -o-linear-gradient(top, #7cbe7c, #558255);
  background-image: -ms-linear-gradient(top, #7cbe7c, #558255);
  background-image: linear-gradient(top, #7cbe7c, #558255);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7cbe7c', EndColorStr='#558255');
}
#marketo-form-littleformii #mktFrmSubmit:active {
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  background-color: #7aba7a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7aba7a), to(#639563));
  background-image: -webkit-linear-gradient(top, #7aba7a, #639563);
  background-image: -moz-linear-gradient(top, #7aba7a, #639563);
  background-image: -o-linear-gradient(top, #7aba7a, #639563);
  background-image: -ms-linear-gradient(top, #7aba7a, #639563);
  background-image: linear-gradient(top, #7aba7a, #639563);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7aba7a', EndColorStr='#639563');
}

#marketo-form-customconsultinginquiry select {
  width: 295px;
}
#marketo-form-customconsultinginquiry #mktFrmSubmit {
  width: 80px !important;
  float: right;
  margin: 20px 50px 0 0;
}

#marketo-form-partnerwithus select {
  width: 295px;
}
#marketo-form-partnerwithus #mktFrmSubmit {
  width: 80px !important;
  float: right;
  margin: 20px 50px 0 0;
}

#marketo-form-newslettersignup #mktFrmSubmit {
  width: 100% !important;
  float: right;
  margin-right: 0px;
}
#marketo-form-newslettersignup input[type=text] {
  top: -25px;
  position: relative;
}
#marketo-form-newslettersignup input[type=submit] {
  margin-top: -22px;
}

#marketo-form-thankyou_newsletter select {
  width: 295px;
}
#marketo-form-thankyou_newsletter #mktFrmSubmit {
  width: 80px !important;
  float: right;
  margin: 20px 50px 0 0;
}

#marketo-form-webinarregistration li {
  width: 458px;
}

.marketo-form .error-message {
  background: rgba(255, 204, 204, 0.4);
  border-color: rgba(180, 60, 60, 0.6);
  color: red !important;
  font-size: 13px;
}
.marketo-form .error {
  background: rgba(255, 204, 204, 0.4);
  border-color: rgba(180, 60, 60, 0.6);
  color: red !important;
  font-size: 13px;
}
.marketo-form input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  line-height: 2px !important;
  padding: 7px  !important;
  font-size: 13px;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.marketo-form input:focus {
  background: #fffde0;
}
.marketo-form input[type="submit"] {
  padding: 0px 8px;
}
.marketo-form textarea {
  width: 285px;
  height: 140px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  padding: 0px 0px 0px 8px;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.marketo-form textarea:focus {
  background: #fffde0;
}
.marketo-form select {
  margin: 8px 0;
}
.marketo-form ul li label {
  width: 100px;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0px;
  vertical-align: text-bottom;
  text-align: right;
  color: #aaa;
  margin: 0px;
  margin-right: 13px;
  display: block;
  float: left;
  list-style: none !important;
  background: none !important;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.marketo-form ul li label .required {
  color: #669900;
}
.marketo-form ul li {
  clear: left;
  width: 100%;
  margin: 0px;
  padding: 3px 0px 4px 0px;
  list-style: none;
  background: none !important;
}
.marketo-form input[type=text] {
  width: 280px;
  padding: 4px 6px;
}
.marketo-form ul li.right label {
  width: 310px;
  vertical-align: top;
  text-align: left;
  float: right;
  display: block;
  padding-top: 3px;
  margin: 0px 0px 5px 10px;
  background: none;
}
.marketo-form ul li.right span input[type=checkbox] {
  float: left;
}
.marketo-form ul li.right span label {
  display: inline;
  float: none;
}
.marketo-form ul li label.error-message {
  color: #ff6600;
  width: auto !important;
  margin-left: 123px;
  font-size: inherit;
}
.marketo-form div#signup div.newsletter label.error-message {
  margin: 0 0px;
  display: block;
  width: 100% !important;
  text-align: center;
}
.marketo-form ul li.right input[type="checkbox"] {
  margin-left: 123px;
}
.marketo-form ul li span.error-message {
  margin-left: 123px;
}
.marketo-form input[type="submit"] {
  position: relative;
  text-decoration: none;
  text-align: center;
  float: left;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  color: #fff;
  border: 1px solid #5c8e5d !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  -o-box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 2px, rgba(51, 51, 51, 0.3) 0 1px 2px;
  background-color: #7ec27e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ec27e), to(#639863));
  background-image: -webkit-linear-gradient(top, #7ec27e, #639863);
  background-image: -moz-linear-gradient(top, #7ec27e, #639863);
  background-image: -o-linear-gradient(top, #7ec27e, #639863);
  background-image: -ms-linear-gradient(top, #7ec27e, #639863);
  background-image: linear-gradient(top, #7ec27e, #639863);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec27e', EndColorStr='#639863');
}
.marketo-form input[type="submit"]:hover {
  background-color: #7cbe7c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7cbe7c), to(#558255));
  background-image: -webkit-linear-gradient(top, #7cbe7c, #558255);
  background-image: -moz-linear-gradient(top, #7cbe7c, #558255);
  background-image: -o-linear-gradient(top, #7cbe7c, #558255);
  background-image: -ms-linear-gradient(top, #7cbe7c, #558255);
  background-image: linear-gradient(top, #7cbe7c, #558255);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7cbe7c', EndColorStr='#558255');
}
.marketo-form input[type="submit"]:active {
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 6px;
  background-color: #7aba7a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7aba7a), to(#639563));
  background-image: -webkit-linear-gradient(top, #7aba7a, #639563);
  background-image: -moz-linear-gradient(top, #7aba7a, #639563);
  background-image: -o-linear-gradient(top, #7aba7a, #639563);
  background-image: -ms-linear-gradient(top, #7aba7a, #639563);
  background-image: linear-gradient(top, #7aba7a, #639563);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7aba7a', EndColorStr='#639563');
}
.marketo-form #mktFrmSubmit {
  width: 80px !important;
  float: right;
  margin: 20px 50px 0 0;
}

/* Homepage Newsletter Signup */
div.newsletter {
  overflow: visible !important;
}
div.newsletter p {
  margin: 0px;
}

div#signup input.email {
  margin: 18px 0px 15px !important;
  width: 95% !important;
}
div#signup input.button {
  height: 31px !important;
  line-height: 29px;
  border-radius: 30px !important;
}
div#signup label.error-message {
  margin: -46px 0 -8px;
  color: red;
  align: center;
}
div#signup input.error-message {
  background: rgba(255, 204, 204, 0.4);
  border-color: rgba(180, 60, 60, 0.6);
  color: red;
}

.contact .main p {
  font-family: ff-meta-web-pro, Helvetica, Arial, sans-serif;
  margin-bottom: 2em;
}
.contact .address {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  width: 170px;
  background: #efefef;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.contact .address img.map {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
  margin-top: 1em;
  border: 1px solid #aaa;
}

.mongodb-monitoring-service .content .main a.button {
  position: relative;
  left: 50%;
  width: 200px;
  margin: 2.2em 0 2em -100px;
}

.event_page {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.event_page p, .event_page li {
  font-size: 16px;
  line-height: 24px;
}
.event_page h1, .event_page h2, .event_page h3, .event_page h4 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.event_page > h1 {
  -webkit-font-smoothing: subpixel-antialiased;
}
.event_page > h2 {
  color: #415B88;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}
.event_page #share h4 {
  float: left;
  line-height: 32px;
  position: relative;
  margin: auto 10px;
}
.event_page .agenda table {
  width: 100%;
}
.event_page .agenda table h2, .event_page .agenda table h3, .event_page .agenda table p {
  line-height: 18px;
}
.event_page .agenda table td, .event_page .agenda table th {
  padding: 5px 0;
  vertical-align: top;
}
.event_page .agenda table thead th {
  background-color: white;
  color: #646464;
  font-weight: bold;
  text-align: center;
}
.event_page .agenda table tbody td {
  border-right: 5px solid white;
}
.event_page .agenda table tbody td.session > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  background-color: #EFF0F5;
}
.event_page .agenda table tbody td.session > div h2 {
  font-weight: bold;
  font-size: 14px;
  color: #5486C1;
  margin-bottom: 3px;
}
.event_page .agenda table tbody td.session > div h3 {
  color: #7FA4BE;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  text-transform: none;
  margin-bottom: 6px;
  letter-spacing: -1px;
}
.event_page .agenda table tbody td.session > div div.description div p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 8px;
}
.event_page .agenda table tbody td.session > div div.description div p:first-child {
  margin-top: 0;
}
.event_page .agenda table tbody td.session > div div.description div.full {
  display: none;
}
.event_page .agenda table tbody td.session > div div.description span.more, .event_page .agenda table tbody td.session > div div.description span.less {
  color: #7FA4BE;
  cursor: pointer;
}
.event_page .agenda table tbody td.session > div.active {
  -moz-box-shadow: 0px 3px 8px #666666;
  -webkit-box-shadow: 0px 3px 8px #666666;
  -o-box-shadow: 0px 3px 8px #666666;
  box-shadow: 0px 3px 8px #666666;
  border: 1px solid #5486C1;
}
.event_page .agenda table tbody td.session.wide > div {
  background-color: #ECF3EB;
  text-align: center;
}
.event_page .agenda table tbody td.session.wide > div * {
  color: #535353;
  margin-bottom: 0px;
}
.event_page .agenda table tbody td.session.wide > div h2 {
  font-size: 13px;
  font-weight: bold;
}
.event_page .agenda table tbody td.session.wide > div h3 {
  font-size: 13px;
  font-style: italic;
  text-transform: none;
}
.event_page .lines {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding: 15px 0px 10px 0px;
}
.event_page .map {
  margin-top: 14px;
}
.event_page .map iframe {
  border: 1px solid #efefef;
  float: left;
  padding: 5px;
}
.event_page .map .address {
  float: right;
  width: 380px;
}
.event_page .map .address h3 {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 0;
  border: none;
}
.event_page .map .address p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
